@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  font-family: HelveticaNow, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.scrollbar_hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar_hidden::-webkit-scrollbar {
  display: none;
}
.text_tiempos {
  font-family: Tiempos, Times New Roman, serif;
}
.affect_text {
  position: relative;
  /* display: inline-block; */
  cursor: pointer;
}
.affect_text:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  /* margin-top: 4px; */
  height: 1px;
  width: 100%;
  background-color: currentColor;
  display: none;
  transition: all 1s linear;
}
.affect_text:hover::after {
  display: block;
}

.border_bottom {
  border-bottom: 1px solid #1a1a1a;
}

.outline_onHover {
  border: 1px solid #1a1a1a;
  position: relative;
}

.outline_onHover:hover {
  outline: 2px solid #1a1a1a;
  outline-offset: -2px;
}
.outline_effect {
  outline: 2px solid #1a1a1a;
  outline-offset: -2px;
}

.scrollbar_hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar_hide::-webkit-scrollbar {
  display: none;
}

.row-full {
  position: relative;
  width: 100vw;
  margin-left: calc(-50vw + 50% - 8.5px);
}

/* mobile */

.mobile_underline {
  position: relative;
}
.mobile_underline::after {
  content: "";
  position: absolute;
  top: calc(100% - 2px);
  left: 0;
  right: 0;
  height: 2px;
  margin: 0 16px;
  background: #1a1a1a;
}

.favorite_added-active {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 0.15s ease;
  animation: favoriteAnimated 0.7s ease;
  font-size: 1.5rem;
  color: #ff6900;
}

@keyframes favoriteAnimated {
  0%,
  20%,
  100% {
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  0% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1);
  }
  20% {
    opacity: 1;
    transform: scale3d(1.35, 1.35, 1.35);
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}
.optionPopup {
  margin: 0 auto;
  background-color: #ffff;
  z-index: 1000;
  opacity: 0;
}
.optionPopup.optionPopup-active {
  width: 100%;
  max-width: 1216px;
  margin: 0 auto;
  background-color: #ffff;
  opacity: 1;
  z-index: 1000;
}

/* .img-topic.js-user-action .topic {
  object-fit: cover;
  background-image: url("../public/Img-topic-1.png");
  background-size: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
}
.topic {
  background-size: cover;
  background-image: url("../public/Skeleton-img.png");
} */

.img-top {
  font-display: swap;
}
.navbar_items:nth-child(even) {
  padding-left: 4px;
}
.navbar_items:nth-child(odd) {
  padding-right: 4px;
}
input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  /* padding: 4px;
  border: 2px solid #ff4e00; */
}

input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #ff4e00;
  content: "";
  display: inline-block;
  visibility: visible;
  /* border: 2px solid #ff4e00; */
}
