.sub_header_category {
  height: 0;
  transition: 0.5s ease-in-out;
  z-index: 1;
}

.navbar_list:hover .sub_header_category {
  height: 488px;
}

.navbar_list:hover .sub_header_category_container {
  transition: 1.5s ease-in-out;
  visibility: visible;
  height: 100%;
  /* z-index: 99; */
  opacity: 1;
}
.header_search {
  position: relative;
  transition: 1s linear;
}
