.navtools {
  /* outline: 1px solid #1a1a1a; */
  padding: 10px;
  border: 1px solid transparent;
  position: relative;
}
.navtools:hover {
  outline: 1px solid transparent;
  padding: 10px;
  border: 1px solid #1a1a1a;
}

.navtools:hover::after {
  content: "";
  position: absolute;
  background-color: #ffff;
  height: 1px;
  width: 102%;
  top: 100%;
  left: -0.5px;
  z-index: 100;
  transition: background-color 0.15s ease-in-out;
}
.navtools_basket,
.navtools_user,
.navtools_heart {
  display: none;
}
.navtools:hover .navtools_user {
  display: block;
}
.navtools:hover .navtools_basket {
  display: block;
}

.header_gender {
  padding: 8px 6px;
  /* color: #ffff; */
  color: #1a1a1a;
  cursor: pointer;
}
.header_gender:hover {
  background-color: #efeff0;
}
.active_gender {
  background-color: #1a1a1a;
  color: #ffff;
}
