/* .product_item:first-child {
  margin-left: 152px;
} */
.navbar__mobile {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #ffff;
  width: 0;
  transition: width, 1s linear;
}
.navbar__mobile.navbar__mobile-active {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #ffff;
  width: 100vw;
  transition: width, 1s linear;
}
