@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  font-family: HelveticaNow, Helvetica, sans-serif;
}

.navtools_user,
.navtools_heart,
.navtools_basket {
  /* display: hidden; */
}
.scrollbar_hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar_hidden::-webkit-scrollbar {
  display: none;
}
.text_tiempos {
  font-family: Tiempos, Times New Roman, serif;
}
