@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  font-family: HelveticaNow, Helvetica, sans-serif;
}

.navtools_user,
.navtools_heart,
.navtools_basket {
  /* display: hidden; */
}

* {
  box-sizing: border-box;
}

.scrollbar_hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar_hidden::-webkit-scrollbar {
  display: none;
}
.text_tiempos {
  font-family: Tiempos, Times New Roman, serif;
}
.affect_text {
  position: relative;
  /* display: inline-block; */
  cursor: pointer;
}
.affect_text:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  /* margin-top: 4px; */
  height: 1px;
  width: 100%;
  background-color: currentColor;
  display: none;
  transition: all 1s linear;
}
.affect_text:hover::after {
  display: block;
}

.row_full {
  position: relative;
  height: 584px;
  width: 100vw;
  margin-left: calc(-50vw + 50% - 8.5px);
  overflow-x: auto;
  /* background-color: #34d27b; */
}
.row_full {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.row_full::-webkit-scrollbar {
  display: none;
}
.border_bottom {
  border-bottom: 1px solid #1a1a1a;
}

/* .form_onHover:hover {
  border: 2px solid #1a1a1a;
} */
.email_form {
  /* outline: 1px solid #1a1a1a; */
}
.form_onHover {
  border: 1px solid #1a1a1a;
  position: relative;
  /* border: 1px solid transparent; */
  /* position: relative; */
}

.form_onHover:hover {
  outline: 2px solid #1a1a1a;
  outline-offset: -2px;
}
